<h1>Comenzi</h1>

<div class="row columns">
  <h1>McPoc. Eating made easier</h1>
</div>
<div class="row columns">
  <div >
    <input type="text" id="message" placeholder="What is it that you do?" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal"
    />
    <button (click)="deleteAll()">Delete all</button>
    <div id="details-container">
      <p *ngFor="let comanda of comenzi | async" (dblclick)="delete(comanda)">
        <!-- <img src="../assets/images/pin.svg"/> -->
        {{comanda.message}}
    </p>
    </div>
  </div>

  <div class="fb-like" data-share="true" data-width="450" data-show-faces="true">
</div>