@model IEnumerable<AlbumPhoto.Models.Comment>
@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Comments</h2>
@using (Html.BeginForm("AdaugaCom", "Home", FormMethod.Post))
{
    <input type="text" name="Author" />
    <input type="text" name="Comment" />
    <input type="submit" value="Adauga Comentariu" />
}
<table>
    <tr>
        <th>
            Author
        </th>
        <th>
            Comment
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MadeBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
        </tr>
    }
</table>