@model AlbumPhoto.Models.Link

@{
    ViewBag.Title = "Link";
}

<h2>Link</h2>

<div class="display-field">
    Poza: @Html.DisplayFor(model => model.NumePoza)
</div>

<div class="display-field">
    Link: @Html.DisplayFor(model => model.LinkPoza)
</div>