################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Prodaniuc Andrei/CURS/TEMA 1/BeersClient
/Prodaniuc Andrei/CURS/TEMA 1/GalaxyConverse/GalaxyConverse/obj/Debug
/Prodaniuc Andrei/CURS/TEMA 1/GalaxyConverse/GalaxyConverse/bin
/Prodaniuc Andrei/CURS/TEMA 1/GalaxyConverse/packages
/Prodaniuc Andrei/CURS/Tema 2/02_AlbumFoto-cu-worker/packages
/Prodaniuc Andrei/CURS/Tema 2/02_AlbumFoto-cu-worker/AlbumPhoto/bin
/Prodaniuc Andrei/CURS/Tema 2/02_AlbumFoto-cu-worker/AlbumPhoto/obj/Debug
/Prodaniuc Andrei/CURS/Tema 2/02_AlbumFoto-cu-worker/ThumbnailGenerator/bin/Debug
/Prodaniuc Andrei/CURS/Tema 2/02_AlbumFoto-cu-worker/ThumbnailGenerator/obj/Debug
/Prodaniuc Andrei/PROIECT/Mobile/App1/.vs/App1/v14
/Prodaniuc Andrei/PROIECT/Online/IrrigationApp/packages
/Prodaniuc Andrei/PROIECT/Online/IrrigationApp/IrrigationWorker/bin/Debug
/Prodaniuc Andrei/PROIECT/Online/IrrigationApp/IrrigationWorker/obj
/Prodaniuc Andrei/PROIECT/Online/IrrigationApp/.vs
/Prodaniuc Andrei/PROIECT/Online/IrrigationApp/IrrigationApi/bin
/Prodaniuc Andrei/PROIECT/Online/IrrigationApp/IrrigationApi/obj
/Prodaniuc Andrei/PROIECT/Mobile/App1/.vs/IrrigationApp/v14
/Prodaniuc Andrei/PROIECT/Mobile/App1/App1/obj/Debug
/Prodaniuc Andrei/PROIECT/Mobile/IrrigationApp/.vs/IrrigationApp/v14
/Prodaniuc Andrei/PROIECT/Mobile/IrrigationApp/IrrigationApp/obj/Debug
