################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Prodaniuc Andrei/CURS/TEMA 1/BeersClient
/Prodaniuc Andrei/CURS/TEMA 1/GalaxyConverse/GalaxyConverse/obj/Debug
/Prodaniuc Andrei/CURS/TEMA 1/GalaxyConverse/GalaxyConverse/bin
/Prodaniuc Andrei/CURS/TEMA 1/GalaxyConverse/packages
/Prodaniuc Andrei/CURS/Tema 2/02_AlbumFoto-cu-worker/packages
/Prodaniuc Andrei/CURS/Tema 2/02_AlbumFoto-cu-worker/AlbumPhoto/bin
/Prodaniuc Andrei/CURS/Tema 2/02_AlbumFoto-cu-worker/AlbumPhoto/obj/Debug
/Prodaniuc Andrei/CURS/Tema 2/02_AlbumFoto-cu-worker/ThumbnailGenerator/bin/Debug
/Prodaniuc Andrei/CURS/Tema 2/02_AlbumFoto-cu-worker/ThumbnailGenerator/obj/Debug
