@{
    ViewBag.Title = "GetLink";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetLink</title>
</head>
<body>
    <div align="center">
        <p>Link-ul generat este afișat mai jos. Valabilitatea sa expiră în 2 ore</p>
        <p><b> @ViewData["LINK"] </b></p>
    </div>
</body>
</html>