@model List<AlbumPhoto.Models.Comment>
@{
    ViewBag.Title = "ViewComments";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div align="center">
        <h1>Vizualizare comentarii</h1>
        <table border="1" width="1000" style="table-layout:fixed">
            <thead>
                <tr style="background-color:green">
                    <td style="color:white">Nume utilizator</td>
                    <td style="color:white">Text comentariu</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="background-color:blue">
                        <td style="color:white">
                            @item.MadeBy
                        </td>
                        <td style="color:white">
                            @item.Text
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</body>
</html>