.no-radius {
    border-radius: 0;
}

.navbar {
    background-color: #FF7619;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #CF5300;
}

.brand-light {
    padding-top: 11px;
    padding-bottom: 11px;
}

.continentalColor {
    color: black !important;
}