@model AlbumPhoto.Models.Poza

@{
    ViewBag.Title = "GenerateLink";
}

<h2>Generate Links </h2>


<div>
    @Html.DisplayNameFor(model => model.Description)
</div>
<div>
    @Html.DisplayFor(model => model.Description)
</div>

<div>
    @Html.DisplayNameFor(model => model.Link)
</div>
<div>
    @Html.DisplayFor(model => model.Link)
</div>