
@{
    ViewBag.Title = "GenerateLink";
}

@model AlbumPhoto.Models.Poza

@{
    ViewBag.Title = "GenerateLink";
}

<h3>Generated link:</h3>


<div>

    @Html.DisplayNameFor(model => model.Description)
</div>
<div>
    @Html.DisplayFor(model => model.Description)
    <br>
</div>

<div>

    @Html.DisplayNameFor(model => model.Link)
</div>
<div>
    @Html.DisplayFor(model => model.Link)
    <br>
</div>