
@{
    ViewBag.Title = "GenerateLink";
}

@model AlbumPhoto.Models.Poza

@{
    ViewBag.Title = "GenerateLink";
}

<h3>Generated link:</h3>


<div><b>

    @Html.DisplayNameFor(model => model.Description)
</b></div>
<div>
    @Html.DisplayFor(model => model.Description)
</div>

<div><b>

    @Html.DisplayNameFor(model => model.Link)
</b></div>
<div>
    @Html.DisplayFor(model => model.Link)
</div>